<hr>
<div style="text-align: center;">
  <h1>Hellow World! Im {{title}}</h1>
  <h1 class="violeta">and hellow {{destino}}</h1>
</div>
<hr><hr>
<div style="text-align: center;">
  <app-fechaactual></app-fechaactual>
</div>
<hr><hr>
<div style="text-align: center;">
  <app-copyright></app-copyright>
</div>
<hr><hr>
<div style="text-align: center;">
  <app-viewmodelo></app-viewmodelo>
</div>
<hr><hr>
<div style="text-align: center;">
  <app-ejemetodo></app-ejemetodo>
</div>
<hr><hr>
<div style="text-align: center;">
  <h4>Property binding</h4>
  <app-ejpropertybinding></app-ejpropertybinding>
</div>
<hr><hr>
<div style="text-align: center;">
  <h4>Event binding</h4>
  <app-ejeventbindint></app-ejeventbindint>
</div>
<hr><hr>
<div style="text-align: center;">
  <h4>Two way binding</h4>
  <app-ejtwobinding></app-ejtwobinding>
</div>
<hr><hr>
<div style="text-align: center;">
  <h4>ngIf</h4>
  <app-ejdirectivangif></app-ejdirectivangif>
</div>
<hr><hr>
<div style="text-align: center;">
  <h4>ngIf</h4>
  <app-ejdirectivangstyle></app-ejdirectivangstyle>
</div>
<hr><hr>
<div style="text-align: center;">
  <h4>ngClass</h4>
  <app-ejdirectivangclass></app-ejdirectivangclass>
</div>
<hr><hr>
<div style="text-align: center;">
  <h4>ngfor</h4>
  <app-ejdirectivangfor></app-ejdirectivangfor>
</div>
<hr><hr>
<div style="text-align: center;">
  <h4>ngswitch</h4>
  <app-ejdirectivangswitch></app-ejdirectivangswitch>
</div>
<hr><hr>
<div style="text-align: center;">
  <h4>ngmydirectiva</h4>
  <app-ejdirectivaformydirectiva></app-ejdirectivaformydirectiva>
</div>


<br><br><br><br><br><br><br><br><br>